/* * {
  box-sizing: border-box;
} */

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  min-height: 100vh;
  flex-direction: column;
 
}

.supporting_text {
  color: #edecff;
  font-weight: 500;
  font-size: 32px;
  /* line-height: 44px; */
  display: flex;
  text-align: center;
  padding-left: 500px;
}

.recent {
  text-align: left;
  height: 104px;
  width: 327px;
  left: 24px;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  color: #9490ff;
  margin: 0px 60px;
}

.subject {
  text-align: center;
}

.name {
  color: #7d73fc;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.37px;
}

.text {
  left: 0.5px;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #B3BAC5;
  justify-content: center;
}

.recent_text {
    font-size: 20px;
  text-align: left;
  color: #B3BAC5;
  
}

.multi {
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}
.active {
  color: #fff;
  left: 12px;
  top: 10px;
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
}

.active:hover {
  text-decoration: none;

}

.icons {
  text-align: center;
  color: #fff;
  font-size:24px
}

.lastname {
  color: #646369;
}

hr {
  background-color:#646369;
}

.rectangle {
  text-align: center; 
  display: flex;
  list-style-type: none;
  margin: 50px;
  padding: 20;
}

.circle {
  width: 184px;
  height: 184px;
  left: 69px;
  top: 237px;
  background: #EDECFF;
  filter: blur(50px);
  transform: rotate(25.09deg);
  position: absolute;
}

.project_btn {
   background-color: #7d73fc;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 60px 0px;
}


.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  width: 100%;
  text-align: center;
  background-color: #191765;

}

.flex-item-left {
  background-color: #f1f1f1;
  flex: 400px;
  margin: 0px 60px;
  padding: 20px;
 }

.flex-item-right {
  background-color:#191765;
  padding: 10px;
  flex: 50%;
  margin: 60px 0px;
  font-size: 20px;
  line-height: 28px;
  color: #DFE1E6;
}


/* Basic footer styles */
footer {
  float: center;
  position: relative;
  width: 100%;
  display: inline-flex;
}

.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 18px;
  line-height: 29px;
  font-weight: bold;
  color: #7d73fc;
 }


.box .content ul li a {
  margin: 20px 0 0 0;
  position: relative;
  color:#fff;
  }

.box .content ul li {
  list-style: none;
}

hr {
  border-color: #646369;
  color:white;
  border-style:solid
}

.mobile-container {
  background: #191765;
  color: white;
  width:100%;
}

.topnav {
  overflow: hidden;
  background-color: #191765;
  /* position: relative; */
  position: sticky;
  top: 0;
  z-index: 100;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: #191765;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #150c75;
  color: #7d73fc;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
   padding: 20px;
  border: 1px solid gray;
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  margin-left: 150px;
  resize: vertical; 
  width: 70%;
  justify-content: center;
  display: flex;
}

#subject {
  height: 200px;
  margin-left: 150px;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #7d73fc;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 20px;
  margin-left: 500px;
  display: flex;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #0e0a4d;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #191765;
  padding: 20px;
  height:50;
  align-items: center;
}

#mobileMenuLink {
  cursor: pointer;
  font-size: 13px;
  line-height: 1.6em;
  text-align: center;
  text-transform: uppercase;

}

/*End do not copy section*/

/* Responsiveness */
@media (max-width: 500px) {
  
  .arrow {
    border: solid hsl(242, 100%, 78%);
    border-width: 0 3px 3px 0; 
    display: inline-block;
    padding: 3px;
     transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: 18.8em;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
  }
 
  body {
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 24px 0px;
  }
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}
@media (min-width: 500px) {
  * {
    flex-shrink: 100%;
  }

.flex-container {
  float:inherit
}
  .nav{
      max-height: none;
      top: 0;
      position: relative;
      float: right;
      width: fit-content;
  }
  .menu li{
      float: left;
  }
  .menu a:hover{
      background-color: transparent;
      color: #9490FF;
  }

  .image {
    flex-direction: row;
  }


  .hamb{
      display: none;
  }
}