@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #191765;
}

.circle_left {
  position: absolute;
  width: 226px;
  height: 427px;
  left: 42.04px;
  top: 92px;
  background: rgba(237, 236, 255, 0.4);
  filter: blur(50px);
  transform: rotate(25.09deg);
}

.circle_right {
  position: absolute;
  width: 420.13px;
  height: 244.06px;
  left: 318.94px;
  top: 432.54px;
  background: rgba(237, 236, 255, 0.9);
  filter: blur(50px);
  transform: rotate(40.52deg);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {
  /* box-shadow: 1px 1px 5px 0px #9490ff; */
  position: sticky;
  top: 0;
  width: 100%;
}

/* Logo */
.logo {
  display: inline-block;
  color: white;
  font-size: 30px;
  padding: 20px;
}

/* Nav menu */
.nav {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
}

.menu a {
  display: block;
  padding: 30px;
  color: white;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  align-items: center;
}

.menu a:hover {
  color: #9490ff;
  /* background-color: rgb(37, 37, 146); */
}

.nav {
  max-height: 0;
  transition: max-height .5s ease-out;
}

/* Menu Icon */
.hamb {
  cursor: pointer;
  float: right;
  padding: 40px 20px;
}/* Style label tag */

.hamb-line {
  background: var(--white);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
} 

.hamb-line::before,
.hamb-line::after {
  background: white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.hamb-line::before{
  top: 5px;
}

.hamb-line::after{
  top: -5px;
}

.side-menu {
  display: none;
} 

.side-menu:checked ~ nav{
  max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top:0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top:0;
}

@media (max-width: 768px) {
.arrow {
  border: solid hsl(242, 100%, 78%);
  border-width: 0 3px 3px 0; 
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-left: 18.8em;
}
}
@media (min-width: 768px) {
.nav{
  max-height: none;
  top: 0;
  position: relative;
  float: right;
  width: fit-content;
}

.menu li{
  float: left;
}

.menu a:hover{
  background-color: transparent;
  color: #9490ff;
}

.hamb{
  display: none;
}
}